@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* overflow: hidden; */
    /* my dark styling */
    background-color: rgb(11, 13, 46);
    color: rgb(179, 15, 56);
}

.container {
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 30vh; */
}

.from {
    background-color: blanchedalmond;
}

#heading {
    font-size: 4rem;
}

.message-area {
    /* height: 500px;
    width: 200px; */
    /* margin-left: 0px; */
    /* background-color: cornsilk;
    color: black; */
}

.sixty-pic {
    width: 70px;
    height: 70px;
    /* float: right; */
    margin-left: 5px;
}

footer {
    font-size: 0.6rem;
    bottom: 0;
}

.btn-area {
    display: flex;
    flex-direction: row;
}

/* .map-holder {
    width: 150px;
    height: 250px;
} */

.msg {
    font-size: 1rem;
    margin: 20px 30px;
}

.to-work {
    color: aqua;
}

.to-home {
    color: rgb(82, 128, 128);
}

.fa-bus {
    cursor: pointer;
}

/* #map {
    height: 40vh;
    width: 90vw;
} */

#question-mark {
    font-size: 10rem;
    color: yellowgreen;
}

.info-line {
    color: white;
    font-size: 1.2rem;
}
