@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(252, 248, 248);
    color: rgb(31, 34, 34);
}

img {
    margin-top: 5rem;
}

.container {
    width: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-size: 2.1rem;
    margin-top: 40px;
}

.message-area {
    height: 380px;
    width: 320px;
    margin: 10px 0px;
    text-align: center;
}

#info {
    height: 1rem;
    width: 400px;
    color: rgb(16, 41, 49);
    text-align: center;
}

footer {
    font-size: 0.5rem;
    /* margin-top: 10px; */
    position: fixed;
    bottom: 0;
}

.btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.msg {
    font-size: 1rem;
    margin: 10px 30px;
    text-align: center;
}

.to-work {
    color: rgb(204, 224, 93);
}

.to-home {
    color: rgb(18, 179, 45);
}

.fa-bus {
    cursor: pointer;
    text-align: center;
}

.info-line {
    color: white;
    font-size: 1.2rem;
}

a {
    color: yellowgreen;
}
