@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* my dark styling */
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

h1 {
    font-size: 2rem;
}

button {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: cadetblue;
}

button:hover {
    background-color: aqua;
    color: black;
}

.message-area {
    height: 100px;
    width: 100px;
    /* background-color: cornsilk;
    color: black; */
}

img {
    width: 30px;
    height: 30px;
    /* float: right; */
    margin-left: 5px;
}

footer {
    font-size: 0.6rem;
}
